/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;300&display=swap');
 $containerWidth: 1180px;
 
 $gb__color-1: rgb(63, 65, 65);
 $gb__groen: #5a8b7a;
 $gb__groen-2: rgb(67, 129, 107);
 $gb__rood: #c42517;
 $gb__blauw: rgb(0, 102, 153);
 $gb__grijs: #b5b2b1;
 $gb__blauw-2: #069;
 
 @mixin Flex($justify: false, $align: false, $direction: false) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
 
   @if $direction {
     flex-direction: $direction;
   }
 }
 
 @mixin Container {
   width: $containerWidth;
 
   @media screen and (max-width: $containerWidth) {
     width: calc(100% - 2rem);
   }
 }
 
 @mixin Link($hover: false) {
 
   @if ($hover) {
     > a:hover {
       @content;
       opacity: 0.8;
     }
   }
 
   @else {
     > a,
     > a:active,
     > a:visited,
     > a:link {
       @content;
     }
   }
 }
 
 @mixin H2{
   font-family: 'Montserrat', sans-serif;
   font-size: 39px;
   color: black;
   text-transform: uppercase;
   margin: 0;
 }
 
 @mixin Button($color: false) {
   display: flex;
   padding: 15px 35px 15px 30px;
   width:fit-content;
   box-sizing: border-box;
   font-size: 18px;
   background-color: $gb__groen-2;
   color: #fff;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   clip-path: polygon(0px 0px, 100% 0%, 95% 100%, 0% 100%);
   text-transform: uppercase;
   transition: filter .25s ease;
   filter: brightness(100%);
 
   &:hover {
     filter: brightness(110%);
   }
 
   @include Responsive(600px){
     width: 100%;
     font-size: 15px;
   }
 }
 
 @mixin Responsive($breakpoint){
   $calculateBreakpoint : calc(#{$breakpoint} + 5px);
   @media screen and (max-width: $calculateBreakpoint){
     @content;
   }
 }
 
 @mixin BodyFont{
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
 
   @include Responsive($containerWidth){
     font-size: clamp(1vw, 16px, 18px);
   }
 }
 
 .grondbank {
   &__image {
     margin-bottom: 1rem;
     width: 100%;
 
     img {
       width: 100%;
     }
   }
 
   &__item {
     background: #ececec;
     box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
     border-bottom: 3px solid #e4170e;
     padding: 25px 12px;
     width: 100%;
     scroll-margin-top: 7rem;
     @include Flex(flex-start, flex-start, column);
   }
 
   &__details {
     p {
       margin: 0;
       @include BodyFont;
       font-size: 14px;
     }
 
     width: 100%;
 
     &--top {
       width: 100%;
       margin-bottom: 2rem;
 
       h3 {
         font-weight: 700;
         font-family: 'Montserrat', sans-serif;
         font-size: 18px;
         margin: 0;
       }
     }
 
     &--mid {
       width: 100%;
 
       p {
         &:first-child {
           color: $gb__rood;
           margin-bottom: 10px;
         }
       }
 
       padding-bottom: 1rem;
       border-bottom: 2px solid #e5e4e4;
 
       @include Link {
         text-decoration: none;
         color: $gb__groen-2;
 
         &:hover {
           text-decoration: underline;
         }
       }
     }
 
     &--onder {
       width: 100%;
 
       h4 {
         font-weight: 700;
         font-family: 'Montserrat', sans-serif;
         font-size: 18px;
         margin: 20px 0;
       }
 
       img {
 
         // Aanpassing febuari -> vast formaat =/= vaste hoogte (?) 
         // max-width: 50%;
 
         height: 50px;
       }
     }
   }
 }
 